<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/allquestions.css">
<link rel="stylesheet" href="/css/top-navbar.css">
</head>

<body>
<%- include('includes/navigation.ejs') %>

<main>
    <h1 class = "landing_title"> My Answers</h1>
    <div>
        <% if (quest.length > 0) { %>
        <p class="center1"> <b>Total Answers: </b><%=quest.length %>  </p>
        <% for(let question of quest) { %>
        <div class = "container">
            <p> <b>Answer: </b><%=question.text %>  </p>

        </div>
        <% }%>
        <% }
        else{ %>
            <h2> No answers yet!</h2>
        <% }%>
    </div>
</main>

<%- include('includes/end.ejs') %>